<%- include("partials/header"); -%>
<h1>CONTACT ME</h1></ br>
     <h4><b>NAME : </b>Kousalya</ br> </h4>
     <h4></ br><b>EMAIL : </b><a class="none clr1" href="mailto:kousalyachintha4@gmail.com">kousalyachintha4@gmail.com</a></h4>
     <h4></ br><b>ALTERNATE EMAIL : </b><a class="none clr1" href="mailto:kousalyachinta@gmail.com">kousalyachinta@gmail.com</a></h4>

<%- include("partials/footer"); -%>
